---
import Form from '../components/form/index.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Entrer des phrases">
    <header>
        <h1>Entrer une phrase</h1>
    </header>

    <main>
        <Form/>
    </main>
</Layout>
